@import "../../partials/variables";
@import "../../partials/fonts";
@import "../../partials/_mixins";

.modal {
    // background: $darkBrown;
    // color: $beige;
    // z-index: 10;
    border-radius: 16px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    color: $beige;
    width: 85%;
    max-width: 100%;
    max-height: 100%;
    margin: 1rem;
    border-radius: .9375rem;
    
    &-container {
    z-index: 1;
    margin-left: 1.5rem;
    width: 100%;
    padding-bottom: 1rem;
    // overflow: auto;
    }
    &-close {
    margin-left: 11.5rem;
    margin-top: 1rem;
    }

    &-title {
    font-size: 1.1875rem;
    }

    &-description {
    font-size: 1.125rem;
    }

    &-img {
    width:45%;
        border-radius: .9375rem;
    }
    &-button__close {
    width: 20%;
    border-radius: .9375rem;
      cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;

    }
    &-button {
        height: 5vh;
        width: 7.812rem;
        background-color: $darkGrey;
        border: none;
        color: $beige;
        border-radius: .9375rem;
        ::after {
            visibility: hidden;
        }
    }
}