@import "../../partials/variables";
@import "../../partials/fonts";
@import "../../partials/_mixins";

.modal {
    color: $beige;
    margin-top: 1rem;
    border-radius: .9375rem;
    @include flexColumn;

        @include tablet {
        width: 90%;
        @include flex;
        padding-top: 2.6875rem;
        flex-wrap: wrap;
        }

        @include desktop {
        width: 80%;
        justify-content: center;
        }
    
    &-container {
    width: 100%;
    padding-bottom: 2.5rem;
    border-radius: .9375rem;

        @include tablet {
        width: 25%;
        padding-bottom: 3rem;
        margin-left: 1.5rem;
        }

        @include desktop {
        width: 31.5%;
        padding-bottom: 2.5rem;
        margin-left: -2rem;
        }
    }
    
    &-close {
    margin-left: 11rem;
    margin-top: 1rem;
    width: 6%;

        @include tablet {
        visibility: hidden;
        display: flex;
        // width: 2%;
        // top: 0;
        margin-left: -1.5rem;
        order: 1;
        height: 2vh;
        flex-wrap: wrap;
        flex-direction: row;
        transform: translateX(66px);
        }

        // @include desktop {
        // margin-left: -3rem;
        // }
    }

    &-link {
    text-decoration: none;
    color: $beige;
    }

    &-img {
    display: flex;  
    width: 44%;
    height: 11vh;
    border-radius: .9375rem;
    margin-left: 3.45rem;

        @include tablet {
        width: 65%;
        height: auto;
        margin-left: 4.5rem;
        }

        @include desktop {
        width: 53%;
        }
    }

    &-red {

        @include tablet {
        margin-left: 4.3rem;
        }
    }
    //     @include desktop {
    //     margin-left: 4rem;
    //     }
    // }

    &-sparkling {
        @include tablet {
        margin-left: 4rem;
        }
    }
    //     @include desktop {
    //     margin-left: 4rem;
    //     }
    // }

    &-white {
        @include tablet {
        margin-left: 4rem;
        }
    }
    //     @include desktop {
    //     margin-left: 4rem;
    //     }
    // }

    &-button {
    height: 4.5vh;
    width: 5.812rem;
    background-color: $darkBrown;
    border: none;
    color: $beige;
    border-radius: .9375rem;
    @include labelBtn;

        @include tablet {
        @include deskLabelBtn;
        width: 7.812rem;
        height: 6.5vh;
        }

        ::after {
        visibility: hidden;
        }
    }
}