@import "../partials/variables";
@import "../partials/fonts";
@import "../partials/_mixins";

.search {
    margin: 0, auto;
    font-family: $glory;
    background-color: $darkBrown;
    padding-bottom: 1rem;

    @include desktop {
    @include flexColumn;
    align-items: center;
    }

    &-card {
    display: flex;
    flex-direction: column;
    align-items: center;

        @include tablet {
        align-items: center;
        flex-wrap: wrap;
        }

        @include desktop {
        width: 100%;
        flex-direction: column;
        margin-top: 3rem;
        }
    
    &:active {
    opacity: 1;
    transition: 1s ease-in-out;
    transform: scale(1.08);
    }
    }

    &-year {
    @include Copy;
    color: $beige;
    margin-top: 1rem;
 

        @include tablet {
        @include deskCopy;
        margin-left: 3rem;
        }

        @include desktop {
        @include deskHeader;
        margin-top: 1rem;
        margin-left: 0;
        }
}
    &-input {
    @include Copy;
    width: 50%;
    border-radius: .9375rem;
    margin-top: 1rem;
    box-shadow: 0 .0725rem .0625rem $cement;

        @include tablet {
        @include deskCopy;
        margin-left: 3rem;
        }

        @include desktop {
        @include deskHeader;
        width: 20%;
        margin-left: 0;
        margin-top: 3rem;
        };
    }

    &-box {
    @include flex;
    @include Copy;
    color: $beige;
    width: 80%;
    margin-top: 1.5rem;
    align-items: center;

        @include tablet {
        @include deskCopy;
        margin-top: 2rem;
        margin-left: 2.5rem;
        }

        @include desktop {
        width: 70%;
        margin-top: 2rem;
        }
    
    &__img {
    width: 22%;

        @include tablet {
        width: 10%;
        }

        @include desktop {
        width: 6%;
        }
    }
    }

    &-list {
    background-color: $darkGrey;
    border-radius: .9375rem;
    padding: .625rem;
    width: 80%;
    margin-left: 1rem;
    &:hover {
    color: $mattegrey;
    }

        @include tablet {
        width: 75%;
        }
    
        @include desktop {
        margin-left: 2rem;
        @include flexColumn;
        align-content: space-between;
        justify-content: space-around;
        }
  
   
    }
    &-name {
    @include Copy;
        
        @include tablet {
        font-size: 1.125rem;
        display: flex;
        justify-content: center;
        }

        @include desktop {
        @include deskHeader;
        }
    }
        
    &-location {
    @include Copy;
    display: flex;
    justify-content: center;

        @include tablet {
        @include deskCopy;
        }

        @include desktop {
        @include deskMiddle;
        }
    }
    
    &-rating{
    @include Copy;
    font-weight: 600;
    font-style: oblique;

        @include tablet {
        @include deskMiddle;
        font-weight: 600;
        display: flex;
        justify-content: center;
        }
    }
}


