@import "../partials/variables";
@import "../partials/fonts";
@import "../partials/_mixins";

.search {
    margin: 0, auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    &-card {
        display: flex;
        flex-direction: column;
    }

    &:active {
        opacity: 1;
        transition: 1s ease-in-out;
        transform: scale(1.08);
    }
    &-box {
        display: flex;
        color: white;
    
    }

    &-left {
        // position: absolute;
        z-index: 10;
        cursor: pointer;
        user-select: none;

        &:hover {
            color: red;
        }
    }

    &-right {
        // position: absolute;
        z-index: 10;
        cursor: pointer;
        user-select: none; 

        &:hover {
            color: red;
        }
    }

    &-title {
        color: purple;
    }

    &-img {
        width: 15%;
        height: auto;
    }


}


