@import "../partials/variables";
@import "../partials/fonts";
@import "../partials/_mixins";

.main {
    margin: 0, auto;
    @include flexColumn;
    align-items: center;
    background-color: $black;


    &-container {
    display: flex;
    width: 85%;
    font-family: 'Glory';
    color: $beige;
    font-size: 1.312rem;
    margin: 1rem;
    }

    &-title {
        text-align: left;
    }
}

.card {
    margin: 0, auto;
    background-color: $blacker;
   
    background-repeat: no-repeat;
    position: relative;
    object-fit: cover;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    height: auto;
    @include flexColumn;
    align-items: center;
   
    &-link {
    text-decoration: none;
    }
    
    
   
    &-wrapper {
    @include flexColumn;
    justify-content: center;
    align-items: center;
    justify-content: center;
 
    padding-bottom: 1rem;
    // background-color: $matteDarkGrey;
    overflow: hidden;
    width: 100%;
    }

    &-title {
    color: $cement;
    text-decoration: none;
    font-size: 1.5rem;
    }

    &-description {
        color: $cement;
    }

    &-button {
        width: 30%;
        font-family: 'Glory';
        font-weight: 600;
        font-size: 1.3125rem;
        border-radius: .625rem;
        border: none;
        background-color: coral;
        padding: .3125rem;
       

    }
}
