@import "../partials/variables";
@import "../partials/fonts";
@import "../partials/_mixins";

.main {
    @include flexColumn;
    align-items: center;
    background-color: $black;
    font-family: $glory;

        @include tablet {
        margin: 0;
        }

    &-container {
    margin: 1.5rem;
    display: flex;
    color: $beige;
    @include Copy;
    margin: 1rem;
    border: 2px solid $darkGrey;
    border-radius: 1.25rem;

        @include tablet {
        margin: 2rem;
        width: 75%;
        @include deskHeader;
        margin-top: 3rem;
        }

        @include desktop {
        width: 60%;
        margin-top: 5rem;
        }
    }

    &-title {
    text-align: left;
    line-height: 1.25rem;
    margin: 1.5rem;

        @include tablet {
        font-size: 1.5rem ;
        line-height: 1.75rem; 
        text-align: center;
        }

        @include desktop {
        @include deskPageHeader;
        }
    }
}

.card {
    margin: 0;
    background-color: $blacker;
    width: 100%;

    &-wrapper {
    @include flexColumn;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    width: 100%;
    }

    &-button {
        width: 40%;
        font-family: 'Glory';
        @include labelBtn;
        border-radius: 1.25rem;
        border: none;
        background-color: $darkBrown;
        color: $beige;
     }
}
