@import "../partials/variables";
@import "../partials/fonts";
@import "../partials/_mixins";



.wine {
    font-family: $glory;
    margin: 0, auto;
    // @include flex;
    // align-items: center;
    // padding: 3%;
    background-color: $darkBrown;

        @include tablet {
        margin: 0;
        }
      }

.btn {
    outline: none;
    text-decoration: none;
    border-radius: 1.25rem;
    text-transform: uppercase;
    opacity: 1;
    background-color: $darkGrey;
    border: none;
    color: $font;
    font-family: $glory;
    @include labelBtn;
    margin-top: 1rem;

        &:hover {
        animation: rotate 0.7s ease-in-out both;
        animation-delay: 0.06s;
            
          @keyframes rotate {
          0% {
          transform: rotate(0deg) translate3d(0, 0, 0);
          }
          25% {
          transform: rotate(3deg) translate3d(0, 0, 0);
          }
          50% {
          transform: rotate(-3deg) translate3d(0, 0, 0);
          }
          75% {
          transform: rotate(1deg) translate3d(0, 0, 0);
          }
          100% {
          transform: rotate(0deg) translate3d(0, 0, 0);
          }
      }
  }
}
    
.card {
  background-color: $darkBrown !important;
}