@import "../../partials/variables";
@import "../../partials/fonts";
@import "../../partials/_mixins";

.hero {
    background-image:linear-gradient(rgba($black, .6), rgba($black, .6)), url('../../assets/images/cork2.jfif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    font-family: $glory;
    background-color: $blacker;
    padding-bottom: 1rem;

    &-wrapper {
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: flex-start;
      color: $beige;

        @include tablet {
        position: relative;
        text-align: center;
        justify-content: center;
        align-items: center;
        }

        @include desktop {
        @include flexColumn;
        flex-wrap: nowrap;
        align-items: center;
        }
  }

    &-img {
    background-repeat: no-repeat;
    background-position: center;
    width: 44%;
    margin-top: 1rem;
    object-fit: cover;
    border-radius: 1.25rem;
    margin-right: 1rem;

        @include tablet {
        height: auto;
        display: flex;
        order: -1;
        align-items: center;
        }

        @include desktop {
        order: -1;
        width: 15%;
        margin-right: 0rem;
        }
    }
    
    &-card {
    margin: 1rem;
    color: $beige;
    font-size: 1rem;
    font-weight: 600;

      @include tablet {
      font-size: 1.125rem;
      margin-left: 2.5rem;
      }

      @include desktop {
      margin-left: 10rem;
      width: 75%;
      text-align: center;
      padding: .625rem;
      font-size: 1.3125rem;
      }
 }

 &-title {
   font-size: .875rem;
   width: 100%;
   margin-top: 1rem;
   margin-left: 1rem;

      @include tablet {
      font-size: 1.125rem;
      }

      @include desktop {
      display: flex;
      font-size: 1.5625rem;

      margin-top: 2rem;
      order: -1;
      font-size: 1.9375rem;
      margin-left: 0rem;
      justify-content: center;
      }
 }

 &-rating {
   font-size: .875rem;
   width: 49%;
   margin-left: 1rem;

      @include tablet {
      font-size: 1rem;
      width: 15%;
      }

      @include desktop {
      order: -1;
      margin: 0;
      font-size: 1.5625rem;
      }
 }

 &-style {
   font-size: .75rem;
   width: 40%;
   margin-left: 1rem;

      @include tablet {
      width: 15%;
      font-size: 1rem;
      }

      @include desktop {
      order: -1;
      margin: 0;
      font-size: 1.5625rem;
      }
 }

 &-price {
   font-size: .75rem;
   width: 40%;
   margin-top: 1rem;
   margin-left: 1rem;

      @include tablet {
      width: 15%;
      font-size: 1rem;
      }

      @include desktop {
      order: -1;
      margin: 0;
      font-size: 1.5625rem;
      }
 }

 &-review {
   font-size: .75rem;
   font-weight: 400;

      @include tablet {
      font-size: 1.25rem;
      width: 95%;
      }

      @include desktop {
      font-size: 1.5625rem;
      }
 }

 &-comments {
   color: red;
 }
}
