@import "../../partials/variables";
@import "../../partials/fonts";
@import "../../partials/_mixins";

.list {
    color: black;

    &-card{
    border: 1px solid black;
    color: red;
    }
    &-container {
        margin: 0;
    }
    &-video {
    width: 15%;
    }
    &__title {
    color: red;
    }
    }
