@import "../../partials/variables";
@import "../../partials/fonts";
@import "../../partials/_mixins";

.hero {
    font-family: $glory;
    background-color: $taupe;
    padding-bottom: 1rem;

    &-wrapper {
      margin: 0 auto;
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: flex-start;
      color: $beige;

   
        @include tablet {
        position: relative;
        // height: 25rem;
        text-align: center;
        justify-content: center;
        align-items: center;
        }

        @include desktop {
        height: 81.5vh;
        }
  }

    &-img {
    background-repeat: no-repeat;
    background-position: center;
    width: 40%;
    margin-top: 1rem;
    object-fit: cover;
    border-radius: 1.25rem;
    margin-right: 1rem;

        @include tablet {
        height: auto;
        display: flex;
        order: -1;
        align-items: center;
        // width: 85%;
        }

        @include desktop {
        height: 81vh;
        width: 71.5%;
        }
    }
 &-card {
   margin: 1rem;
   color: $beige;
  

 }

 &-title {
   font-size: .875rem;
   width: 100%;
   margin-top: 1rem;
   margin-left: 1rem;

        @include tablet {
        
   }
 }

 &-rating {
   font-size: .875rem;
   width: 49%;
   margin-left: 1rem;

      @include tablet {
      width: 15%;
      }
 }

 &-style {
   font-size: .75rem;
   width: 40%;
   margin-left: 1rem;

      @include tablet {
      width: 15%;

      }
 }

 &-price {
   font-size: .75rem;
   width: 40%;
   margin-top: 1rem;
   margin-left: 1rem;

      @include tablet {
      width: 15%;
      }
  
 }

 &-review {
   font-size: 1rem;
   font-style: oblique;
   
 }

  
}
