@import "../../partials/variables";
@import "../../partials/fonts";
@import "../../partials/_mixins";

.contact {
    margin: 0, auto;
    font-family: $glory;
    background-color: $darkGrey;
  
    &-box {
    @include flex;
    align-items: flex-start;

        @include tablet {
        justify-content: flex-end;
        }
    }

    &-background {
    opacity: 88%;
    background-position: center;
    background-size: 50%;
    width: 40%;
    max-height: 100%;

        @include tablet {
        transform: rotateY(180deg);
        order: 1;
        width: 25%;
        }

        @include desktop {
        visibility: hidden;
        }
    }

    &-title {
    @include header;
    @include flex;
    justify-content: flex-end;
    margin-right: 2rem;
    margin-top: 2rem;
    color: $lightBeige;

        @include tablet {
        margin-right: 7.5rem;  
        margin-top: 3rem;
        @include deskSectionHeader;
        }

        @include desktop {
        width: 100%;
        justify-content: flex-start;
        margin-left: 5rem;
        font-size: 1.5625rem;
        }
    }

    &-container {
    @include flexColumn;
    width: 80%;
    margin-left: 2rem; 
    padding-top: 1.3125rem;    

        @include tablet {
        margin-top: -8.1875rem;
        }

        @include desktop {
        margin-top: -18.1875rem;
        margin-left: 5rem;
        width: 85%;
        }
    }

    &-name {
    margin: 0;
    @include Copy;
    color: $lightBeige;

        @include tablet {
        @include deskCopy;
        }

        @include desktop {
        @include deskHeader;
        font-weight: bold;
        }
    }

    &-review {
    @include bodyCopy;
    color: $lightBeige;
 

        @include tablet {
        @include deskCopy;
        }

        @include desktop {
        @include deskHeader;
        }
    }

    &-input {
    border-bottom: 1px solid $black;
    padding-bottom: 1.3125rem;
    }

    &-time {
    color: $beige;
    font-style: oblique;
    margin-top: 0;
    padding-bottom: 1.3125rem;
    border-bottom: 1px solid $black;

        @include desktop {
        padding-bottom: 3.25rem;
        @include deskSectionHeader;
        }
    }
}