@import "../../partials/variables";
@import "../../partials/fonts";
@import "../../partials/_mixins";

.contact {
    margin: 0, auto;
    font-family: $glory;
    background-color: $darkGrey;
  

    &-name {
    margin: 0;
    @include Copy;
    color: $font;
    font-weight: bolder;

        @include tablet {
        @include deskCopy;
        }

        @include desktop {
        @include deskHeader;
        font-weight: bold;
        }
    }

    &-review {
    @include bodyCopy;
    color: $font;
 

        @include tablet {
        @include deskCopy;
        }

        @include desktop {
        @include deskHeader;
        }
    }

    &-input {
    border-bottom: 1px solid $black;
    padding-bottom: 1.3125rem;
    }

}