// $beige: #cbb3aa;
// $brown: #544544;
// $red: #af2f21;
// $darkBrown: #302424;
// $lightGrey: #787a84;
// $moss: #7a847f;
// $darkgrey: #3a3b44;
// $greenGrey: #3b4447;


// $black: #040404;
// $greybeige: #a9a3a2;
// $lightbrown: #554f4f;
// $darkbrown: #2d2929;
// $greybrown:#3b3c3c;
// $lightgrey: #7c7c7a;
// $wood: #3a434c;
// $flatgrey: #7a747c;
// $matteblack: #1c2424;
// $black: #1d1d1f;
// $stoneGrey: #5c5d61;
// $cement: #77767a;
// $lightgrey: #cecdcf;
// $mattegrey: #6b6b74;
// $matteDarkGrey: #4b4c50;
// $greenGrey: #6b7476;
// $lightGreenGrey: #9ba4a5;
// $grey: #9398a4;


//this photo
$black: #060404;
$blacker: #080609;
$beige: #f5e3d9;
$dark: #443c44;
$darkBrown: #2c2423;
$Greyish: #232c35;
$brown: #2e0f09;
$cement: #777985;
$mattegrey:#7c848c;
$darkGrey: #3b3c3f;
$blueGrey: #343444;
$backgroun: #262423;
$darkdarkgrey: #373d47;
$color: #8c847c;
$brownRed: #684d4d;
$lightBeige: #fff4d7;
$taupe: #7b6c6e;
$brown: #463731;



