$black: #060404;
$blacker: #080609;
$beige: #f5e3d9;
$dark: #443c44;
$darkBrown: #2c2423;
$Greyish: #232c35;
$brown: #2e0f09;
$cement: #777985;
$mattegrey:#7c848c;
$darkGrey: #3b3c3f;
$blueGrey: #343444;
$backgroun: #262423;
$darkdarkgrey: #373d47;
$color: #8c847c;
$brownRed: #684d4d;
$lightBeige: #fff4d7;
$taupe: #7b6c6e;
$brown: #463731;



